themes {
    default {
        fg "#cbced0"
        bg "#2e303e"
        black "#1c1e26"
        red "#e93c58"
        green "#efaf8e"
        yellow "#efb993"
        blue "#df5273"
        magenta "#b072d1"
        cyan "#24a8b4"
        white "#cbced0"
        orange "#e58d7d"
    }
}