themes {
    default {
        fg "#bdb6c5"
        bg "#5a496e"
        black "#190134"
        red "#27d9d5"
        green "#c33678"
        yellow "#8f6c97"
        blue "#bd0152"
        magenta "#82034c"
        cyan "#f80059"
        white "#bdb6c5"
        orange "#5ba2b6"
    }
}